:root{
    --deep: #130f40;
    --bg1: #d1ccc0;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    /*background-color: #b71540;*/
    margin: 0;
    padding: 0;
}

#the-string {
    display: none;
}
.result-img-size{
    width: 100%;
    max-width: 800px;
    margin-bottom: 1.6rem;    
}
.carousel-item img{
    height: 50vh;
}
.padds{
    padding-top: 2rem;
    padding-bottom: 2.4rem;
}
#grid div.fig{
    position: relative;
}
#grid img{
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1);
}

#grid div.fig button{
    position: absolute;
    right: -3px;
    top: -10px;
    border: none;
    outline: none;
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    box-shadow: 0.4px 1.4px 1.6px 2px rgba(0,0,0,0.1);
}
/* #carouselDarkText{    
    border-bottom: 5px solid #fff;
} */

/*Scroll to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--purple);
    color: white;
    cursor: pointer;
    padding: 15px 21px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.2);
}
  
#myBtn:hover {
    background-color: #555;
}