<!DOCTYPE HTML>
<html>
  <head>
    <style>
      #div1, #div2 {
        float: left;
        width: 190px;
        height: 135px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
      }
    </style>    
  </head>
  <body>

    <h2>Drag and Drop</h2>
    <p>Drag the image back and forth between the two div elements.</p>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="static/img/lSUb1T4YW1td0UskwsGZ1w.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="188" height="131">
    </div>

    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>



    <script>
      function allowDrop(ev) {
        ev.preventDefault();
      }

      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
      }

      function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
      }
    </script>
  </body>
</html>
