<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link href="/static/css/input_with_animation.css" rel="stylesheet"> 
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>       
    </head>
    <body>
        
        <img src="static/img/MkMzjPIFpv6XjTRI.gif" alt="pet" id="pet-brand">
        <h1>Moow <strong>Search Images</strong></h1>
        <div class="form">
            <input type="text" id="name" name="search_query" autocomplete="off" required />
            <label for="name" class="label-name">
                <span class="content-name">Name</span>
            </label>            
        </div>   
        <button id="generate-string">Search <i class="fas fa-search"></i></button>
        <div id="the-string">            
        </div>


        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/js/interaction_no-react.js" >
        
        </script>
    </body>
</html>